.main-page {
    box-shadow: 0px 0px 20px #e03e10;
    border-radius: 20px;
}

.main-page__movies {
    padding: 15px;

}

.main-page__content {
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 20px 20px
}

.main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;
}
