.header {
    /* background: #e5f7f7; */
    padding: 20px calc(50% - 500px) 10px;
    border-radius: 20px 20px 0px 0px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 45px;
    color: #e03e10;
    text-align: center;
}
